<div class="text-center">
    <h1 class="display-4">Soy Carlos Ruiz</h1>

    <h2> Soy un desarrollador full stack especializado en tecnologias.Net, big data e inteligencia artificial  </h2>
    <img id="foto" src = "~/Imagenes\FRrb-NyXEAIlyfb.jpg" alt="Foto del Madrid"/>
</div>
<div class="text-center">
    <img id="imagen-dotnet"src="~/Imagenes/dotnet-imagen-2.png" alt="Imagen.net" />
</div>
<div class="row justify-content-center text-center bg-success">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>He estado estudiando el curso de desarrollo de apps multiplataforma
            a traves de la escuela de MEDAC, el master de big data e inteligencia artificial
            y cursos de la plataforma udemy, google y otros cursos online no reglados.  
        </p>
    </div>
</div>
